.App {
  text-align: center;
}

.note-folder-container {
  display: flex;
  align-items: flex-start;
}

h1 {
  border: 1px solid #000;
  padding-bottom: 40px;
  margin-top: 0;
  padding-top: 40px;
  font-size: 3rem;
}